* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

body {
    background-color: whitesmoke;
}

/* Carousel Cards */
h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 5px;
}

.carousel_cards {
    background-color: whitesmoke;
    display: flex;
    width: 70%;
    height: 65vh;
    margin: 2rem auto;
    padding: 10px;
    position: relative;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    /* box-shadow: 0px 0px 4px gray, inset 0px 0px 2px black; */
    box-sizing: border-box;
}

@media screen and (max-width:1060px) {
    .carousel_cards {
        width: 80%;
    }
}

@media screen and (max-width:940px) {
    .carousel_cards {
        width: 90%;
    }
}

@media screen and (max-width:840px) {
    .carousel_cards {
        width: 100%;
    }

    .carousel_cards .card h2 {
        margin-top: 15%;
    }
}

@media screen and (max-width:740px) {
    .carousel_cards {
        height: 60vh;
    }

    .carousel_cards .card h2 {
        margin-top: 15%;
    }
}

@media screen and (max-width:660px) {
    .carousel_cards {
        height: 50vh;
    }

    .carousel_cards .card h2 {
        margin-top: 15%;
    }
}

@media screen and (max-width:560px) {
    .carousel_cards {
        height: 60vh;
    }

    .carousel_cards .card h2 {
        margin-top: 15%;
    }
}

.carousel_cards .btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
}

.carousel_cards .btns button {
    margin: 0px 23px 0px 22px;
    border-radius: 30px;
    padding: 10px 15px;
    border: none;
    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 10px 5px gray,
        0px 0px 10px white;
    color: white;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.carousel_cards .btns button:hover {
    transition: all 0.5s;
    font-weight: 700;
    font-size: 14px;
}

.carousel_cards .cards-div {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0% 15px;
    /* border: 2px solid red; */
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.carousel_cards .cards-div .card {
    background-color: whitesmoke;
    position: absolute;
    width: 33.3%;
    box-sizing: border-box;
    padding: 5px;
    height: 80%;
    transition: all 1s;
    margin: 0px 0px;
    text-align: center;
    border: 1px solid gray;
    box-shadow: 5px 5px 4px gray, inset 0px 0px 2px black;
    border-radius: 17px;
}

.carousel_cards .cards-div .card:hover {
    padding: 1px;
    transition: all 0.2s;
}

.carousel_cards .card:hover button {
    z-index: 1;
}

.carousel_cards .card img {
    width: 100%;
    border-radius: 15px;
}

.carousel_cards .card h2 {
    width: 100%;
    margin-top: 7%;
    border-radius: 15px;
}

/* Carousel Images */
.carousel_images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 30rem;
    position: relative;
    /* border: 2px solid red; */
    margin: auto;
}

.carousel_images button {
    border-radius: 40px;
    padding: 10px;
    border: none;
    background-color: rgb(83, 83, 83);
    color: white;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    margin: 0px 3px;
}

.carousel_images button:hover {
    box-shadow: 0px 0px 3px darkgray;
    transition: all 0.3s;
}

.carousel_images .img_container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* border: 2px solid red; */
}

.carousel_images .img_container .img_slides {
    box-sizing: border-box;
    /* border: 3px solid green; */
    position: absolute;
    width: 100%;
    transition: 1s;
    text-align: center;
    font-size: larger;
}

.carousel_images .img_container .img_slides img {
    width: 100%;
}

.carousel_images .img_container .img_slides p {
    font-weight: 700;
    margin-top: 1rem;
}